<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>添加联系人</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/mint-ui-style.css" />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/iconfont.css" />
		<link rel="stylesheet" href="css/style/addContact.css" />
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon iconfont icon-jiantou mui-pull-left"></a>
				<h1 class="mui-title">新增联系人</h1>
				<button @tap="addContact()" class="mui-btn-link mui-pull-right">保存</button>
			</header>
			<div class="mui-content mui-fullscreen mui-scroll-wrapper">
				<div class="mui-scroll">
					<form class="mui-input-group">
						<div class="mui-input-row">
							<input type="text" class="mui-input-clear" v-model="displayName" placeholder="姓名">
						</div>
						<div class="mui-input-row">
							<input type="text" class="mui-input-clear" placeholder="公司" v-model="company">
						</div>
						<div class="mui-input-row">
							<input type="text" class="mui-input-clear" placeholder="职位" v-model="job">
						</div>
						<div class="mui-input-row">
							<input type="tel" class="mui-input-clear" placeholder="手机" maxlength="11" v-model="phoneNumber">
						</div>
						<div class="mui-input-row">
							<input type="tel" class="mui-input-clear" placeholder="电话" v-model="tellNumber">
						</div>
						<!--<mt-radio title="副号分组" v-model="groupType" :options="['手机', '电话']">
						</mt-radio>-->
					</form>
				</div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/vue-html5plus.js"></script>
	<script type="text/javascript" src="js/mint-ui.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript">
		(function(_, w, u) {
			var em = new App({
				el: '#app',
				data: {
					groupType: '',
					displayName: '',
					phoneNumber: '',
					tellNumber: '',
					company:'',
					job:''
				},
				plusReady: {
					init: function() {
						self = this;
						self.phoneNumber = plus.webview.currentWebview().number || '';
					}
				},
				methods: {
					addContact: function() { //往通讯录添加新联系人
						if(u.isNull(self.displayName)) {
							_.toast("请输入姓名")
						} else if(u.isNull(self.phoneNumber) && u.isNull(self.tellNumber)) {
							_.toast("请输入手机号或者电话")
						} else {
							plus.contacts.getAddressBook(plus.contacts.ADDRESSBOOK_PHONE, function(addressbook) {
								// 向通讯录中添加联系人
								var contact = addressbook.create();
								contact.displayName = self.displayName;
								contact.phoneNumbers = [{
										type: "mobile",
										value: self.phoneNumber,
										preferred: true
									},
									{
										type: "mobile",
										value: self.tellNumber,
										preferred: false
									}
								];
								contact.organizations = [{
									type:"company",
									name:self.company,
									department:self.job,
									title:self.job,
									preferred:true
								}];
								contact.save();
								_.toast("新增成功");
								_.later(function(){
									var web = plus.webview.getWebviewById("contact_mint.html");
									if(web){
										web.evalJS("getData()");
									}
									_.back();
								},500)
							}, function(e) {
								_.toast("获取联系人失败 " + e.message);
							});
						}
					}
				},
				domReady: function() {
					_.init();
				}
			})
		})(mui, window, util)
	</script>

</html>