<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>联系人详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/mint-ui-style.css" />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/iconfont.css" />
		<link rel="stylesheet" href="css/detail.css" />
		<link rel="stylesheet" href="css/style/numbersPopover.css" />
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon iconfont icon-jiantou mui-pull-left"></a>
				<h1 class="mui-title">联系人详情</h1>
				<a @tap="toMsg()" class="mui-icon iconfont icon-dingdan-duanxin mui-pull-right"></a>
			</header>
			<div class="mui-content mui-scroll-wrapper mui-fullscreen">
				<div class="mui-scroll">
					<div class="detail_body">
						<div class="detail_body_h">
							<span class="color_333 font_16">{{displayName}}</span>
						</div>
						<div class="detail_body_b font-size-12">
							{{address}}
						</div>
					</div>
					<mt-navbar v-model="selected">
						<mt-tab-item id="1"><span class="mui-icon iconfont icon-lianxiren"></span><br>详情</mt-tab-item>
						<mt-tab-item id="2"><span class="mui-icon iconfont icon-tonghuajilu"></span><br>通话记录</mt-tab-item>
					</mt-navbar>
					<mt-tab-container v-model="selected">
						<mt-tab-container-item id="1">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell" @tap="toTel()">
									<span class="color_333 font_16">{{number}}</span>
									<span class="i_flag">{{remark}}</span>
									<p>{{address}}</p>
								</li>
								<li class="mui-table-view-cell">
									<span class="color_333 font_16">公司</span>
									<p>{{company}}</p>
								</li>
								<li class="mui-table-view-cell">
									<span class="color_333 font_16">职位</span>
									<p>{{job}}</p>
								</li>
							</ul>
						</mt-tab-container-item>
						<mt-tab-container-item id="2">
							<ul id="listData" class="mui-table-view">
								<li class="mui-table-view-cell mui-media" v-for="item in callList" @tap="toTel()">
									<div class="mui-media-body">
										<span class="color_333 font_16">{{item.c_number}}</span>
										<span class="i_flag">{{item.remark}}</span>
										<p>
											<span class="mui-icon iconfont" v-bind:class="{'icon-hurujiantou': item.type == 2,'icon-huchujiantou':item.type==1}"></span> {{item.create_time}}&ensp;{{item.typeName}}{{item.talk_time}}
										</p>
									</div>
								</li>
							</ul>
						</mt-tab-container-item>
					</mt-tab-container>
				</div>
				<button v-if="isS" @tap="toSave()" type="button" class="bottom_del_div mui-btn mui-btn-block">保存联系人</button>
				<button v-else @tap="toDel()" type="button" class="bottom_del_div mui-btn mui-btn-block">删除联系人</button>
			</div>
			<div id="middlePopover" class="mui-popover">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view mui-text-center">
							<li class="mui-table-view-cell" @tap="popChose('')">主号 {{mobile}}</li>
							<li class="mui-table-view-cell" @tap="popChose(item)" v-for="item in virtual_numberArr">
								副号 {{item}}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/vue-html5plus.js"></script>
	<script type="text/javascript" src="js/mint-ui.min.js"></script>
	<script type="text/javascript" src="js/md5.js"></script>
	<script type="text/javascript" src="js/des/crypto-js.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript">
		(function(_, w, u) {
			var isMain = true;
			App({
				el: '#app',
				data: {
					callList: [], //通话记录
					number: '', //号码
					selected: '1',
					displayName: '未知',
					remark: '主号',
					address: '未知地',
					company: '未知',
					job: '未知',
					isS: true, //是否是陌生人,
					contact: {}, //联系人对象
					mobile: '', //主号
					virtual_numberArr: [], //副号数组
					virtual_number: '' //被选小号

				},
				plusReady: {
					init: function() {
						self = this;
						self.mobile = w.getItem("mobile");
						self.virtual_numberArr = (w.getItem('virtual_number') || '').split('-');
						w.addEventListener("event", function(e) {
							plus.nativeUI.showWaiting();
							self.number = e.detail.phone;
							self.callList = e.detail.callList;
							self.remark = e.detail.remark;
							//查找通讯录
							self.getAddressBook();
						})
					}
				},
				methods: {
					getAddressBook: function() {
						if(plus.os.name == 'Android') {
							var Context = plus.android.runtimeMainActivity();
							//检测是否打开了此权限
							var res = plus.android.invoke(Context, "checkSelfPermission", "android.permission.READ_CONTACTS");
							if(res != 0) {
								_.alert("请从系统设置中设置\n开启通讯录访问\n后重试", "权限不足");
								return;
							}
						}
						plus.contacts.getAddressBook(plus.contacts.ADDRESSBOOK_PHONE, function(addressbook) {
							addressbook.find(["displayName", "phoneNumbers", "organizations"], function(contacts) {
								self.contact = contacts[0];
								console.log("getAddressBook======" + JSON.stringify(self.contact));
								if(self.contact) {
									self.isS = false;
									self.displayName = self.contact.displayName;
									self.addresses = self.contact.addresses || '未知地';
									self.company = self.contact.organizations[0] && self.contact.organizations[0].name || '未知';
									self.job = self.contact.organizations[0] && self.contact.organizations[0].department || '未知';
								} else {
									self.isS = true;
									self.displayName = self.number;
									self.addresses = '未知地';
									self.company = '未知';
									self.job = '未知';
								}
								plus.nativeUI.closeWaiting();
							}, function(e) {
								plus.nativeUI.closeWaiting();
								_.toast("获取联系人失败 ");
							}, {
								filter: [{
									logic: "or",
									field: "phoneNumbers",
									value: self.number
								}],
								multiple: false
							});
						}, function(e) {
							plus.nativeUI.closeWaiting();
							_.toast("获取联系人失败 " + e.message);
						});
					},
					popChose: function(number) {
						_('#middlePopover').popover('toggle');
						console.log("number" + number);
						if(!number || u.isNull(number)) {
							isMain = true;
						} else {
							isMain = false;
							self.virtual_number = number;
						}
						self.uploadCall(self.number);
					},
					uploadCall: function(called_number) { //上传拨打电话
						if(isMain) { //主号正常拨打
							plus.device.dial(called_number, false);
						} else {
							var nonce_str = u.mathRand();
							var timestamp = Date.parse(new Date()).toString().substr(0, 8);
							var identifier = w.getItem("identifier"),
								user_token = w.getItem("user_token");
							var pdata = {
								app: "Member",
								class: "UploadCall",
								nonce_str: nonce_str,
								timestamp: timestamp,
								identifier: identifier,
								client: "web",
								user_token: user_token,
								virtual_number: self.virtual_number,
								called_number: called_number
							}
							var stringSignTemp = "app=Member&called_number=" + pdata.called_number + "&class=UploadCall&client=web&identifier=" +
								identifier + "&nonce_str=" + nonce_str + "&timestamp=" + timestamp +
								"&user_token=" + user_token +
								"&virtual_number=" + pdata.virtual_number +
								"&";
							u.mypost(pdata, stringSignTemp, true, function(data) {
								if(data.status == 0) {
									plus.device.dial(pdata.virtual_number, false);
								} else {
									_.toast(data.msg || '请求异常');
								}
							}, myerror);
						}
					},
					toTel: function() {
						_('#middlePopover').popover('toggle');
					},
					toDel: function() {
						//删除通话记录
						plus.nativeUI.confirm("确定删除所选联系人吗?", function(e) {
							if(e.index == 1) {
								self.contact.remove(function() {
									_.toast("已删除");
									_.back();
								});
							}
						}, {
							"title": "删除联系人",
							"buttons": ["取消", "删除"]
						})
					},
					toSave: function() {
						w.openView("addContact.html", {
							number: self.number
						})
					},
					toMsg: function() {
						w.openView("sendMsg.html")
					}
				},
				domReady: function() {
					_.init();
				}
			})
		})(mui, window, util)
	</script>

</html>