<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>登录</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/iconfont.css" />
		<link rel="stylesheet" href="css/style/login.css" />
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<!--<a class="mui-action-back mui-icon iconfont icon-jiantou mui-pull-left"></a>-->
				<h1 class="mui-title">登录</h1>
			</header>
			<div class="mui-content mui-fullscreen mui-scroll-wrapper">
				<div class="mui-scroll">
					<div class="login-logo">
						<div class="login-logo-bg">
							<img src="img/logo.png" />
						</div>
					</div>
					<form id='login-form' class="mui-input-group">
						<div class="mui-input-row">
							<label><span class="mui-icon mui-icon-person"></span></label>
							<input type="tel" class="mui-input-clear mui-input" placeholder="請輸入11位手机号" v-model="account">
						</div>
						<div class="mui-input-row">
							<label><span class="mui-icon mui-icon-locked "></span></label>
							<input type="password" class="mui-input-clear mui-input" placeholder="請輸入密碼" v-model="password" autocomplete="off">
						</div>
						<button type="button" class="mui-btn mui-btn-blue mui-btn-block" @tap="login()">立即登录</button>
					</form>
				</div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/vue-html5plus.js"></script>
	<script type="text/javascript" src="js/md5.js" ></script>
	<script type="text/javascript" src="js/des/crypto-js.js" ></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript">
		(function(_, w, u) {
			var self = null;
			App({
				el: '#app',
				data: {
					account:'',
					password:''
				},
				plusReady: {
					init: function() {
						self = this;
					}
				},
				methods: {
					login: function() {
						w.openView("loginOfC.html",{
							account:self.account,
							password:self.password
						});
					}
				},
				domReady: function() {
					_.init(), _(".mui-scroll-wrapper").scroll();
					w.doubleTapExit();
				}
			})
		})(mui, window, util)
	</script>

</html>