<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/mint-ui-style.css" />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/iconfont.css" />
		<link rel="stylesheet" href="css/style/main.css" />
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<a v-if="isToDel" @tap="toggleTopP()" class="mui-icon iconfont icon-dianjihoudesanheng mui-pull-left"></a>
				<a v-else @tap="chooseAll()" class="mui-btn-link  mui-pull-left">{{chooseText}}</a>
				<h1 class="mui-title">{{title}}</h1>
				<!--<a v-if="isToDel" @tap="toggleDel()" class="mui-icon iconfont icon-shanchu mui-pull-right"></a>-->
				<a v-else @tap="cancelDel()" class="mui-btn-link mui-pull-right">取消</a>
			</header>
			<div  class="mui-content mui-scroll-wrapper mui-fullscreen">
				<div class="mui-scroll">
					<ul class="mui-table-view">
						<li @tap="toTelDetail(item.c_number)" class="mui-table-view-cell mui-media mui-checkbox" v-for="item in callList" v-bind:class="{'mui-left': !isToDel }">
							<div class="mui-media-body">
								<span class="color_333">{{item.c_number}}</span>
								<span class="i_flag">{{item.remark}}</span>
								<p><span class="mui-icon iconfont" v-bind:class="{'icon-hurujiantou': item.type == 2,'icon-huchujiantou':item.type==1}"></span>{{item.create_time}}&ensp;{{item.typeName}}{{item.talk_time}}<span class="mui-icon iconfont icon-tongxunluyuanjiajiantou mui-pull-right span_right"></span></p>
							</div>
							<input v-if="!isToDel" type="checkbox" value="1" v-model="checkedArr" />
						</li>
					</ul>
					<mt-popup v-model="popupVisible">
						<div @tap="filterList(0,'全部通话')">
							<mt-cell title="全部通话"></mt-cell>
						</div>
						<div @tap="filterList(1,'副号通话')">
							<mt-cell title="副号通话"></mt-cell>
						</div>
					</mt-popup>
				</div>
				<!--
		            	时间：2018-04-13
		            	描述：底部删除按钮
		            -->
				<button @tap="toDel()" v-show="!isToDel" type="button" class="bottom_del_div color_red mui-btn mui-btn-block">删除({{checkedArr.length}})</button>
			</div>
			<!--
            	时间：2018-04-13
            	描述：查询结果
            -->
			<transition name="fade">
				<div v-show="filter_resultShow" class="filter_result mui-fullscreen mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="back" @tap="backAll()">
							<a class="mui-icon iconfont icon-jiantou"></a><span class="font-size-12">返回全部</span></div>
						<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
							<li @tap="toTelDetail(item.c_number)" class="mui-table-view-cell mui-media mui-checkbox" v-for="item in f_callList" v-bind:class="{'mui-left': !isToDel }">
								<div class="mui-media-body">
									<span class="color_333">{{item.c_number}}</span>
									<span class="i_flag">{{item.remark}}</span>
									<p><span class="mui-icon iconfont" v-bind:class="{'icon-hurujiantou': item.type == 2,'icon-huchujiantou':item.type==1}"></span>{{item.create_time}}&ensp;{{item.typeName}}{{item.talk_time}}<span class="mui-icon iconfont icon-tongxunluyuanjiajiantou mui-pull-right span_right"></span></p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</transition>
			<!--
            	时间：2018-04-13
            	描述   虚拟键盘
            -->
			<div id="keyborde_div" class="mui-popover mui-popover-action mui-popover-bottom">
				<form class="mui-input-group">
					<div class="mui-input-row">
						<label v-if="isShowDelInput" @tap="input_key('del')"><span class="mui-icon mui-icon-closeempty"></span></label>
						<input type="text" placeholder="请输入号码搜索" maxlength="11" readonly="readonly" v-model="inputKey">
					</div>
				</form>
				<ul id="keyborde" class="mui-table-view mui-grid-view mui-grid-9">
					<li @tap="input_key('1')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>1</span>
						<div class="mui-media-body">-</div>
					</li>
					<li @tap="input_key('2ABC')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>2</span>
						<div class="mui-media-body">ABC</div>
					</li>
					<li @tap="input_key('3DEF')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>3</span>
						<div class="mui-media-body">DEF</div>
					</li>
					<li @tap="input_key('4GHI')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>4</span>
						<div class="mui-media-body">GHI</div>
					</li>
					<li @tap="input_key('5JKL')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>5</span>
						<div class="mui-media-body">JKL</div>
					</li>
					<li @tap="input_key('6MNO')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>6</span>
						<div class="mui-media-body">MNO</div>
					</li>
					<li @tap="input_key('7PQRS')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>7</span>
						<div class="mui-media-body">PQRS</div>
					</li>
					<li @tap="input_key('8TUV')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>8</span>
						<div class="mui-media-body">TUV</div>
					</li>
					<li @tap="input_key('9WXYZ')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>9</span>
						<div class="mui-media-body">WXYZ</div>
					</li>
					<li @tap="input_key('*,')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>*</span>
						<div class="mui-media-body">,</div>
					</li>
					<li @tap="input_key('0+')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>0</span>
						<div class="mui-media-body">+</div>
					</li>
					<li @tap="input_key('#.')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>#</span>
						<div class="mui-media-body">.</div>
					</li>
					<div v-show="bottom_handle">
						<li @tap="input_key('close')" class="mui-table-view-cell mui-media mui-col-xs-4">
							<span class="mui-icon mui-icon-closeempty"></span>
							<div class="mui-media-body">收起</div>
						</li>
						<li @tap="input_key('tel')" class="mui-table-view-cell mui-media mui-col-xs-4" style="padding-top: 11px;">
							<span class="mui-icon mui-icon-phone-filled" style="font-size: 35px;"></span>
						</li>
						<li @tap="input_key('change')" class="mui-table-view-cell mui-media mui-col-xs-4">
							<span class="mui-icon mui-icon-loop"></span>
							<div class="mui-media-body">切换</div>
						</li>
					</div>
				</ul>
			</div>

			<!--
            	时间：2018-04-13
            	描述：切换组件
            -->
			<div id="middlePopover" class="mui-popover">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell" @tap="popChose(1)">主号</li>
							<li class="mui-table-view-cell" @tap="popChose(0)">副号</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/vue-html5plus.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/mint-ui.min.js"></script>
	<script type="text/javascript" src="js/md5.js"></script>
	<script type="text/javascript" src="js/des/crypto-js.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript">
		var app = null,
			bottom = 0,self = null;
			
		//改变键盘的显示
		function toggleShow() {
			mui('#keyborde_div').popover('toggle');
		}
		function toggleHidden() {
			mui('#keyborde_div').popover('hide');
		}
		(function(_, w, u) {
			var currentWeb = null;
			var all = [];
			app = new App({
				el: '#app',
				data: {
					callList: [],
					f_callList: [], //手机查找结果
					title: '全部通话',
					chooseText: '全选',
					list: [],
					inputKey: '',
					popupVisible: false, //popup显示
					filter_resultShow: false, //筛选结果显示
					bottom_handle: false,
					allLoaded: false,
					isToDel: true, //是否显示取消
					delNumber: 0, //删除数量
					checkedArr: [],
					isShowDelInput: false
				},
				plusReady: {
					init: function() {
						currentWeb = plus.webview.currentWebview();
						self = this;
						self.getCallLog();
					}
				},
				methods: {
					getCallLog: function() {
						if(w.getItem("user_token")) {
							var nonce_str = u.mathRand();
							var timestamp = Date.parse(new Date()).toString().substr(0, 8);
							var identifier = w.getItem("identifier"); //设备标识号
							var user_token = w.getItem("user_token");
							var pdata = {
								app: "Member",
								class: "getCallLog",
								nonce_str: nonce_str,
								timestamp: timestamp,
								identifier: identifier,
								client: "web",
								user_token: user_token
							}
							var stringSignTemp = "app=Member&class=getCallLog&client=web&identifier=" + identifier + "&nonce_str=" + nonce_str + "&timestamp=" + timestamp + "&user_token=" + user_token + "&";
							u.mypost(pdata, stringSignTemp, true, function(data) {
								if(data.status == 0) {
									data = data.data;
									if(data && data.length > 0) {
										self.callList = comConvert(data);
										all = comConvert(data); //缓存所有通话
									} else {
										_.toast('暂无记录');
									}
								} else {
									_.toast(data.msg || '请求异常');
								}
							}, myerror);
						}
					},
					uploadCall: function(called_number) { //上传拨打电话
						var nonce_str = u.mathRand();
						var timestamp = Date.parse(new Date()).toString().substr(0, 8);
						var identifier = w.getItem("identifier"),
							user_token = w.getItem("user_token"),virtual_number = w.getItem('virtual_number');
						var pdata = {
							app: "Member",
							class: "UploadCall",
							nonce_str: nonce_str,
							timestamp: timestamp,
							identifier: identifier,
							client: "web",
							user_token: user_token,
							virtual_number: virtual_number,
							called_number: called_number
						}
						var stringSignTemp = "app=Member&called_number=" + pdata.called_number + "&class=UploadCall&client=web&identifier=" 
							+ identifier + "&nonce_str=" + nonce_str + "&timestamp=" + timestamp 
							+ "&user_token=" + user_token
							+ "&virtual_number="+ pdata.virtual_number
							+ "&";
						u.mypost(pdata, stringSignTemp, true, function(data) {
							if(data.status == 0) {
								self.getCallLog();
								plus.device.dial(called_number, false);
							} else {
								_.toast(data.msg || '请求异常');
							}
						}, myerror);
					},
					getCallLogByNumber: function(number, type) { //搜索指定号码的通话记录
						if(w.getItem("user_token")) {
							var nonce_str = u.mathRand();
							var timestamp = Date.parse(new Date()).toString().substr(0, 8);
							var identifier = w.getItem("identifier"); //设备标识号
							var user_token = w.getItem("user_token");
							var pdata = {
								app: "Member",
								class: "getCallLog",
								nonce_str: nonce_str,
								timestamp: timestamp,
								identifier: identifier,
								client: "web",
								user_token: user_token,
								number: number
							}
							var stringSignTemp = "app=Member&class=getCallLog&client=web&identifier=" + identifier + "&nonce_str=" + nonce_str + "&number=" + number + "&timestamp=" + timestamp + "&user_token=" + user_token + "&";
							u.mypost(pdata, stringSignTemp, false, function(data) {
								if(data.status == 0) {
									data = data.data;
									if(data && data.length > 0) {
										if(1 == type) {
											self.callList = comConvert(data);
										} else {
											self.f_callList = comConvert(data);
										}
									} else {
										self.f_callList = [];
									}
								} else {
									_.toast(data.msg || '请求异常');
								}
							}, myerror);
						}
					},
					toggleDel: function() { //控制删除
						self.isToDel = false;
					},
					chooseAll: function() {
						//TODO 赋值全部数据给self.checkedArr
					},
					toTelDetail: function(phone) {
						//选择出该手机号下的通话记录
						var callList = [];
						console.log("self.callList==" + JSON.stringify(self.callList));
						for (var i = 0; i < self.callList.length; i++) {
							if(phone == self.callList[i].c_number){
								callList.push(self.callList[i]);
							}
						}
						console.log("callList==" + JSON.stringify(callList));
						w.openView("contactDetail.html",{phone:phone,callList:callList})
					},
					input_key: function(key) { //输入
						if(self.inputKey.length >= 0) {
							self.filter_resultShow = true;
							self.bottom_handle = true;
							self.isShowDelInput = true;
						} else {
							self.filter_resultShow = false;
							self.bottom_handle = false;
							self.isShowDelInput = false;
						}

						if('close' == key) {
							self.bottom_handle = false;
							_('#keyborde_div').popover('hide');
							self.filter_resultShow = false;
						} else if('change' == key) { //切换
							_("#keyborde_div").popover('show');
							_('#middlePopover').popover('toggle');
						} else if('del' == key) { //删除输入号码
							self.inputKey = self.inputKey.substr(0, self.inputKey.length - 1);
							if(self.inputKey.length == 0) {
								self.filter_resultShow = false;
								self.bottom_handle = false;
								self.isShowDelInput = false;
							}
						} else if('tel' == key) {//打电话
							if(!u.isNull(self.inputKey) && u.checkPhone(self.inputKey)){
								self.uploadCall(self.inputKey);
							}else{
								_.toast("请正确输入手机号")
							}
						} else {
							self.inputKey += key && key.substr(0, 1);
						}
						if('tel' !== key && self.inputKey.length == 11 && u.checkPhone(self.inputKey)) { //查找该手机号通话记录
							self.getCallLogByNumber(self.inputKey, 0);
						}
					},
					filterList: function(type, title) {
						self.title = title;
						self.popupVisible = false;
						if(0 == type) { //全部
							self.callList = all;
						} else { //副号
							var virtual_number = w.getItem("virtual_number");
							if(u.isNull(virtual_number)) {
								_.toast("请重新登录");
							} else {
								self.getCallLogByNumber(virtual_number, 1);
							}
						}
					},
					toggleTopP: function() {
						self.popupVisible = !self.popupVisible;
					},
					cancelDel: function() { //取消删除
						self.isToDel = true;
					},
					toDel: function() {
						//删除通话记录
						plus.nativeUI.confirm("确定删除所选号码的通话记录?", function(e) {
							if(e.index == 1) {
								_.toast("已删除");
								console.log("value===" + self.checkedArr)
							}
						}, {
							"title": "删除通话记录",
							"buttons": ["取消", "删除"]
						})
					},
					backAll: function() {
						self.filter_resultShow = false;
					},
					popChose: function(index) {
						_('#middlePopover').popover('toggle');
						_("#keyborde_div").popover('show');
					}
				},
				domReady: function() {
					_.init(), _(".mui-scroll-wrapper").scroll();
					//获取屏幕宽度
					var width = document.documentElement.clientWidth;
					//3.75
					if(width >= 320 && width < 360) {
						bottom = "54px";
					} else if(width >= 360 && width < 400) {
						bottom = "61px";
					} else if(width >= 400 && width < 440) {
						bottom = "69px";
					} else if(width >= 440 && width < 480) {
						bottom = (20 * 3.75) + 1 + 'px';
					} else if(width >= 480 && width < 640) {
						bottom = (22 * 3.75) + 1 + 'px';
					} else if(width >= 640) {
						bottom = (28 * 3.75) + 1 + 'px';
					}
				}
			})
		})(mui, window, util)

		//转换
		function comConvert(items) {
			var newItems = [];
			items.forEach(function(item, index) {
				newItems.push({
					c_number: item.type == 2 ? item.called_number : item.calling_number,
					virtual_number: item.virtual_number,
					type: item.type,
					typeName: item.type == 2 ? '呼出' : '呼入',
					talk_time: util.formatTime(item.talk_time),
					create_time: item.create_time,
					remark: item.remark
				});
			});
			return newItems;
		}
	</script>
</html>