<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/mint-ui-style.css" />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/iconfont.css" />
		<link rel="stylesheet" href="css/style/main.css" />
		<link rel="stylesheet" href="css/style/numbersPopover.css" />

		<style>
			.v-modal {
				top: 0;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<a @tap="toggleTopP()" class="mui-icon iconfont icon-dianjihoudesanheng mui-pull-left"></a>
				<h1 class="mui-title">{{title}}</h1>
			</header>
			<div class="mui-content mui-scroll-wrapper mui-fullscreen">
				<div class="mui-scroll">
					<ul class="mui-table-view">
						<li @tap="toTel(item)" class="mui-table-view-cell mui-media mui-checkbox" v-for="item in callList">
							<div class="mui-media-body">
								<span v-if="item.user_name != '' " class="color_333">{{item.user_name}}</span>
								<span v-else="" class="color_333">{{item.c_number}}</span>
								<span class="font-size-12 color_666">{{item.relationship}}</span>
								<p><span class="mui-icon iconfont" v-bind:class="{'icon-hurujiantou': item.type == 2,'icon-huchujiantou':item.type==1}"></span>{{item.create_time}}&ensp;{{item.typeName}}{{item.talk_time}}<span class="mui-icon iconfont icon-tongxunluyuanjiajiantou mui-pull-right span_right"></span></p>
							</div>
						</li>
					</ul>
					<mt-popup v-model="popupVisible" popup-transition="popup-fade">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell" @tap="filterList(0,'全部通话')">全部通话</li>
							<li class="mui-table-view-cell" @tap="filterList(1,'副号通话')">副号通话</li>
						</ul>
					</mt-popup>
				</div>
			</div>
			<!--
            	时间：2018-04-13
            	描述：查询结果
            -->
			<transition name="fade">
				<div v-show="filter_resultShow" class="filter_result mui-fullscreen mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="back" @tap="backAll()">
							<a class="mui-icon iconfont icon-jiantou"></a><span class="font-size-12">返回全部</span></div>
						<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
							<li @tap="toTel(item)" class="mui-table-view-cell mui-media mui-checkbox" v-for="item in f_callList">
								<div class="mui-media-body">
									<span v-if="item.user_name != '' " class="color_333">{{item.user_name}}</span>
								    <span v-else="" class="color_333">{{item.c_number}}</span>
									<span class="font-size-12 color_666">{{item.relationship}}</span>
									<p><span class="mui-icon iconfont" v-bind:class="{'icon-hurujiantou': item.type == 2,'icon-huchujiantou':item.type==1}"></span>{{item.create_time}}&ensp;{{item.typeName}}{{item.talk_time}}<span class="mui-icon iconfont icon-tongxunluyuanjiajiantou mui-pull-right span_right"></span></p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</transition>
			<!--
            	时间：2018-04-13
            	描述   虚拟键盘
            -->
			<div id="keyborde_div" class="mui-popover mui-popover-action mui-popover-bottom">
				<form class="mui-input-group">
					<div class="mui-input-row">
						<label v-if="isShowDelInput" @tap="input_key('del')"><span class="mui-icon mui-icon-closeempty"></span></label>
						<input type="text" placeholder="请输入号码搜索" maxlength="11" readonly="readonly" v-model="inputKey">
					</div>
				</form>
				<ul id="keyborde" class="mui-table-view mui-grid-view mui-grid-9">
					<li @tap="input_key('1')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>1</span>
						<div class="mui-media-body">-</div>
					</li>
					<li @tap="input_key('2ABC')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>2</span>
						<div class="mui-media-body">ABC</div>
					</li>
					<li @tap="input_key('3DEF')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>3</span>
						<div class="mui-media-body">DEF</div>
					</li>
					<li @tap="input_key('4GHI')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>4</span>
						<div class="mui-media-body">GHI</div>
					</li>
					<li @tap="input_key('5JKL')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>5</span>
						<div class="mui-media-body">JKL</div>
					</li>
					<li @tap="input_key('6MNO')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>6</span>
						<div class="mui-media-body">MNO</div>
					</li>
					<li @tap="input_key('7PQRS')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>7</span>
						<div class="mui-media-body">PQRS</div>
					</li>
					<li @tap="input_key('8TUV')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>8</span>
						<div class="mui-media-body">TUV</div>
					</li>
					<li @tap="input_key('9WXYZ')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>9</span>
						<div class="mui-media-body">WXYZ</div>
					</li>
					<li @tap="input_key('*,')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>*</span>
						<div class="mui-media-body">,</div>
					</li>
					<li @tap="input_key('0+')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>0</span>
						<div class="mui-media-body">+</div>
					</li>
					<li @tap="input_key('#.')" class="mui-table-view-cell mui-media mui-col-xs-4">
						<span>#</span>
						<div class="mui-media-body">.</div>
					</li>
					<div v-show="bottom_handle">
						<li @tap="input_key('close')" class="mui-table-view-cell mui-media mui-col-xs-4">
							<span class="mui-icon mui-icon-closeempty"></span>
							<div class="mui-media-body">收起</div>
						</li>
						<li @tap="input_key('tel')" class="mui-table-view-cell mui-media mui-col-xs-4" style="padding-top: 11px;">
							<span class="mui-icon mui-icon-phone-filled" style="font-size: 35px;"></span>
						</li>
						<li @tap="input_key('change')" class="mui-table-view-cell mui-media mui-col-xs-4">
							<span class="mui-icon mui-icon-loop"></span>
							<div class="mui-media-body">切换</div>
						</li>
					</div>
				</ul>
			</div>

			<!--
            	时间：2018-04-13
            	描述：切换组件
            -->
			<div id="middlePopover" class="mui-popover">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view mui-text-center">
							<li class="mui-table-view-cell" @tap="popChose('')">主号 {{mobile}}</li>
							<li class="mui-table-view-cell" @tap="popChose(item)" v-for="item in virtual_numberArr">
								副号 {{item}}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/vue-html5plus.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/mint-ui.min.js"></script>
	<script type="text/javascript" src="js/md5.js"></script>
	<script type="text/javascript" src="js/des/crypto-js.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript">
		var app = null,
			bottom = 0,
			self = null,
			isMain=true,user_name = '';

		//改变键盘的显示
		function toggleShow() {
			mui('#keyborde_div').popover('toggle');
		}

		function toggleHidden() {
			mui('#keyborde_div').popover('hide');
		}
		(function(_, w, u) {
			var all = [];
			app = new App({
				el: '#app',
				data: {
					callList: [],
					f_callList: [], //手机查找结果
					title: '全部通话',
					list: [],
					inputKey: '',
					popupVisible: false, //顶部popup显示
					filter_resultShow: false, //筛选结果显示
					bottom_handle: false,
					allLoaded: false,
					isShowDelInput: false,
					mobile:'',//主号
					virtual_numberArr:[],//副号数组
					virtual_number:'',//被选小号
					called_number:''
				},
				plusReady: {
					init: function() {
						self = this;
						self.getCallLog();
						self.mobile = w.getItem("mobile");
//						self.getMyNumber();
					}
				},
				methods: {
					getMyNumber: function() {//获取小号列表
						var nonce_str = u.mathRand();
						var timestamp = Date.parse(new Date()).toString().substr(0, 8);
						var identifier = w.getItem("identifier"); //设备标识号
						var user_token = w.getItem("user_token");
						var pdata = {
							app: "Member",
							class: "getMyNumber",
							nonce_str: nonce_str,
							timestamp: timestamp,
							identifier: identifier,
							client: "web",
							user_token: user_token
						}
						var stringSignTemp = "app=Member&class=getMyNumber&client=web&identifier=" + identifier + "&nonce_str=" + nonce_str + "&timestamp=" + timestamp + "&user_token="+user_token+"&";
						u.mypost(pdata, stringSignTemp, true, function(data) {
							if(data.status == 0) {
								var arr = data.data || [];
								var numbers = [];
								for (var i = 0; i < arr.length; i++) {
									numbers.push(arr[i].number);
								}
								self.virtual_numberArr = numbers;
								console.log("virtual_numberArr====" + JSON.stringify(self.virtual_numberArr));
							} else {
								_.toast(data.msg || '请求异常');
							}
						}, myerror);
					},
					getAddressBook: function(number) {//读取通讯录
						if(plus.os.name == 'Android') {
							var Context = plus.android.runtimeMainActivity();
							//检测是否打开了此权限
							var res = plus.android.invoke(Context, "checkSelfPermission", "android.permission.READ_CONTACTS");
							if(res != 0) {
								_.alert("请从系统设置中设置\n开启通讯录访问\n后重试", "权限不足");
								return;
							}
						}
						plus.contacts.getAddressBook(plus.contacts.ADDRESSBOOK_PHONE, function(addressbook) {
							addressbook.find(["displayName", "phoneNumbers", "organizations"], function(contacts) {
								self.contact = contacts[0];
								if(self.contact){
									user_name = self.contact.displayName || '';
								}else{
									user_name = '';
								}
								plus.nativeUI.closeWaiting();
								_('#middlePopover').popover('toggle');
							}, function(e) {
								plus.nativeUI.closeWaiting();
								user_name = '';
								_('#middlePopover').popover('toggle');
							}, {
								filter: [{
									logic: "or",
									field: "phoneNumbers",
									value: number
								}],
								multiple: false
							});
						}, function(e) {
							plus.nativeUI.closeWaiting();
							user_name = '';
							_('#middlePopover').popover('toggle');
						});
					},
					getCallLog: function() {//获取通话记录
						if(w.getItem("user_token")) {
							var nonce_str = u.mathRand();
							var timestamp = Date.parse(new Date()).toString().substr(0, 8);
							var identifier = w.getItem("identifier"); //设备标识号
							var user_token = w.getItem("user_token");
							var pdata = {
								app: "Member",
								class: "getCallLog",
								nonce_str: nonce_str,
								timestamp: timestamp,
								identifier: identifier,
								client: "web",
								user_token: user_token
							}
							var stringSignTemp = "app=Member&class=getCallLog&client=web&identifier=" + identifier + "&nonce_str=" + nonce_str + "&timestamp=" + timestamp + "&user_token=" + user_token + "&";
							u.mypost(pdata, stringSignTemp, true, function(data) {
								if(data.status == 0) {
									data = data.data;
									if(data && data.length > 0) {
										self.callList = comConvert(data);
										all = comConvert(data); //缓存所有通话
									} else {
										_.toast('暂无记录');
									}
								} else {
									_.toast(data.msg || '请求异常');
								}
							}, myerror);
						}
					},
					toTel:function(item){//点击列表元素
						//在小号为空情况下 获取所有小号
						self.called_number = item.c_number;//赋值给被拨号
						if(self.virtual_numberArr && self.virtual_numberArr.length == 0){
							self.getMyNumber();
						}
						//通过号码获取通讯录姓名
						if(u.isNull(item.user_name)){
							self.getAddressBook(self.called_number);
						}else{
							_('#middlePopover').popover('toggle');
							user_name = item.user_name;
						}
					},
					uploadCall: function(called_number) { //上传拨打电话
						if(isMain){//主号正常拨打
							plus.device.dial(called_number, false);
						}else{
							var nonce_str = u.mathRand();
							var timestamp = Date.parse(new Date()).toString().substr(0, 8);
							var identifier = w.getItem("identifier"),
								user_token = w.getItem("user_token");
							var pdata = {
								app: "Member",
								class: "UploadCall",
								nonce_str: nonce_str,
								timestamp: timestamp,
								identifier: identifier,
								client: "web",
								user_token: user_token,
								virtual_number: self.virtual_number,
								called_number: called_number,
								user_name:user_name
							}
							var stringSignTemp = "app=Member&called_number=" + pdata.called_number + "&class=UploadCall&client=web&identifier=" +
								identifier + "&nonce_str=" + nonce_str + "&timestamp=" + timestamp +
								"&user_name=" + pdata.user_name +
								"&user_token=" + user_token +
								"&virtual_number=" + pdata.virtual_number +
								"&";
							u.mypost(pdata, stringSignTemp, true, function(data) {
								if(data.status == 0) {
									plus.device.dial(pdata.virtual_number, false);
									_.later(function(){
										self.getCallLog();
									},500)
								} else {
									_.toast(data.msg || '请求异常');
								}
							}, myerror);
						}
					},
					getCallLogByNumber: function(number, type) { //搜索指定号码的通话记录
						if(w.getItem("user_token")) {
							var nonce_str = u.mathRand();
							var timestamp = Date.parse(new Date()).toString().substr(0, 8);
							var identifier = w.getItem("identifier"); //设备标识号
							var user_token = w.getItem("user_token");
							var pdata = {
								app: "Member",
								class: "getCallLog",
								nonce_str: nonce_str,
								timestamp: timestamp,
								identifier: identifier,
								client: "web",
								user_token: user_token,
								number: number
							}
							var stringSignTemp = "app=Member&class=getCallLog&client=web&identifier=" + identifier + "&nonce_str=" + nonce_str + "&number=" + number + "&timestamp=" + timestamp + "&user_token=" + user_token + "&";
							u.mypost(pdata, stringSignTemp, false, function(data) {
								if(data.status == 0) {
									data = data.data;
									if(data && data.length > 0) {
										if(1 == type) {
											self.callList = comConvert(data);
										} else {
											self.f_callList = comConvert(data);
										}
									} else {
										self.f_callList = [];
									}
								} else {
									_.toast(data.msg || '请求异常');
								}
							}, myerror);
						}
					},
					input_key: function(key) { //输入
						if(self.inputKey.length >= 0) {
							self.filter_resultShow = true;
							self.bottom_handle = true;
							self.isShowDelInput = true;
						} else {
							self.filter_resultShow = false;
							self.bottom_handle = false;
							self.isShowDelInput = false;
						}

						if('close' == key) {
							self.bottom_handle = false;
							_('#keyborde_div').popover('hide');
							self.filter_resultShow = false;
						} else if('change' == key) { //切换
							if(self.virtual_numberArr && self.virtual_numberArr.length == 0){
								self.getMyNumber();
							}
							_('#middlePopover').popover('toggle');
						} else if('del' == key) { //删除输入号码
							self.inputKey = self.inputKey.substr(0, self.inputKey.length - 1);
							if(self.inputKey.length == 0) {
								self.filter_resultShow = false;
								self.bottom_handle = false;
								self.isShowDelInput = false;
							}
						} else if('tel' == key) { //电话按键
							self.called_number = self.inputKey;//赋值给被拨号
							if(self.virtual_numberArr && self.virtual_numberArr.length == 0){
								self.getMyNumber();
							}
							if(!u.isNull(self.called_number)) {
								//查找通讯录
								self.getAddressBook(self.called_number);
							} else {
								_.toast("请正确输入手机号")
							}
						} else {
							self.inputKey += key && key.substr(0, 1);
						}
						if('tel' !== key && self.inputKey.length == 11) { //查找该手机号通话记录
							self.getCallLogByNumber(self.inputKey, 0);
						}
					},
					filterList: function(type, title) {//0 == type 全部
						self.title = title;
						self.popupVisible = false;
						self.getCallLog(); //现在全部通话都是副号通话
					},
					toggleTopP: function() {
						self.popupVisible = !self.popupVisible;
					},
					backAll: function() {
						self.filter_resultShow = false;
//						self.getCallLog();
					},
					popChose: function(number) {//选择小号之后的拨号
						_('#middlePopover').popover('toggle');
//						_("#keyborde_div").popover('show');
						console.log("number" +  number);
						if(!number || u.isNull(number)){
							isMain = true;
						}else{
							isMain = false;
							self.virtual_number = number;
						}
						self.uploadCall(self.called_number);
					}
				},
				domReady: function() {
					_.init(), _(".mui-scroll-wrapper").scroll();
					//获取屏幕宽度
					var width = document.documentElement.clientWidth;
					//3.75
					if(width >= 320 && width < 360) {
						bottom = "54px";
					} else if(width >= 360 && width < 400) {
						bottom = "61px";
					} else if(width >= 400 && width < 440) {
						bottom = "69px";
					} else if(width >= 440 && width < 480) {
						bottom = (20 * 3.75) + 1 + 'px';
					} else if(width >= 480 && width < 640) {
						bottom = (22 * 3.75) + 1 + 'px';
					} else if(width >= 640) {
						bottom = (28 * 3.75) + 1 + 'px';
					}
				}
			})
		})(mui, window, util)

		//转换
		function comConvert(items) {
			var newItems = [];
			items.forEach(function(item, index) {
				newItems.push({
					c_number: item.type == 2 ? item.called_number : item.calling_number,
					user_name:item.user_name,
					virtual_number: item.virtual_number,
					type: item.type,
					typeName: item.type == 2 ? '呼出' : '呼入',
					talk_time: util.formatTime(item.talk_time),
					create_time: item.create_time,
					remark: item.remark,
					relationship:item.relationship
				});
			});
			return newItems;
		}
	</script>

</html>