<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/mint-ui-style.css" />
		<link rel="stylesheet" href="css/common.css" />
		<style>
			.i_flag {
				background: #00acf8;
				color: #fff;
				font-size: 8px;
				padding: 2px;
				margin: 0 0 0 10px;
			}
			
			.mui-table-view .mui-media-object {
				position: relative;
				top: 27px;
			}
			
			.span_right {
				position: relative;
				bottom: 8px;
			}
			
			.mui-input-group:after,
			.mui-input-group:before,
			.mui-input-group .mui-input-row:after {
				height: 0;
			}
			
			.mui-grid-view.mui-grid-9 {
				background-color: #fff;
			}
			
			.input_keybord {
				position: fixed;
				z-index: 10;
				bottom: 0;
			}
			
			.filter_result {
				background: #00acf8;
				z-index: 10;
			}
			
			.filter_result ul {
				margin: 10px;
			}
			
			.filter_result .mui-table-view {
				background: initial;
			}
			
			.filter_result .mui-table-view-cell {
				background-color: #fff;
				margin: 5px 0;
			}
			
			.fade-enter-active,
			.fade-leave-active {
				transition: opacity .6s;
			}
			
			.fade-enter,
			.fade-leave-to {
				opacity: 0;
			}
			
			#middlePopover {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				height: 100px;
			}
			.mui-input-row label {
				float: right;
			}
			.mui-input-row label[class='f'] {
				font-family: 'Helvetica Neue', Helvetica, sans-serif;
				line-height: 1.1;
				float: left;
				width: 25%;
				padding: 11px 15px;
			}
			.mui-input-row label~input{
				width: 50%;
			}
			.mui-input-row input[type=text] {
				text-align: center;
				padding: 2px 5px;
				font-size: 18px;
			}
			
			#keyborde>li>span {
				font-size: 20px;
			}
			
			.bottom_del_div {
				position: fixed;
				bottom: 0;
				z-index: 9;
			}
			.mui-table-view{
				margin-bottom: 45px;
			}
			.mui-bar-nav.mui-bar .mui-icon{
				margin-top: 0;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<button v-if="isToDel" @tap="toggleTopP()" class="mui-btn-link mui-icon mui-icon-bars mui-pull-left"></button>
				<button v-else @tap="chooseAll()" class="mui-btn-link mui-pull-left">{{chooseText}}</button>
				<h1 class="mui-title">{{title}}</h1>
				<button v-if="isToDel" @tap="toggleDel()" class="mui-btn-link mui-icon mui-icon-trash mui-pull-right"></button>
				<button v-else @tap="cancelDel()" class="mui-btn-link mui-pull-right">取消</button>
			</header>
			<div class="mui-content mui-scroll-wrapper mui-fullscreen">
				<div class="mui-scroll">
					<ul class="mui-table-view">
						<li @tap="toTelDetail()" class="mui-table-view-cell mui-media mui-checkbox" v-bind:class="{'mui-left': !isToDel }">
							<img class="mui-media-object mui-pull-left" src="http://placehold.it/40x30">
							<div class="mui-media-body">
								<span class="color_333">13510792830</span>
								<span class="i_flag">副1</span>
								<p>广东广州 4月9日 呼入12分21秒 <span class="mui-icon mui-icon-info mui-pull-right span_right"></span></p>
							</div>
							<input v-if="!isToDel" type="checkbox" value="1" v-model="checkedArr" />
						</li>
						<li @tap="toTelDetail('13510792830')" class="mui-table-view-cell mui-media mui-checkbox" v-bind:class="{'mui-left': !isToDel }">
							<img class="mui-media-object mui-pull-left" src="http://placehold.it/40x30">
							<div class="mui-media-body">
								<span class="color_333">13510792830</span>
								<span class="i_flag">副1</span>
								<p>广东广州 4月9日 呼入12分21秒 <span class="mui-icon mui-icon-info mui-pull-right span_right"></span></p>
							</div>
							<input v-if="!isToDel" type="checkbox" value="2" v-model="checkedArr" />
						</li>
						<li @tap="toTelDetail('13510792830')" class="mui-table-view-cell mui-media mui-checkbox" v-bind:class="{'mui-left': !isToDel }">
							<img class="mui-media-object mui-pull-left" src="http://placehold.it/40x30">
							<div class="mui-media-body">
								<span class="color_333">13510792830</span>
								<span class="i_flag">副1</span>
								<p>广东广州 4月9日 呼入12分21秒 <span class="mui-icon mui-icon-info mui-pull-right span_right"></span></p>
							</div>
							<input v-if="!isToDel" type="checkbox" value="3" v-model="checkedArr" />
						</li>
					</ul>
					<mt-popup v-model="popupVisible">
						<div @tap="filterList(0,'全部通话')">
							<mt-cell title="全部通话"></mt-cell>
						</div>
						<div @tap="filterList(1,'副号通话')">
							<mt-cell title="副号通话"></mt-cell>
						</div>
					</mt-popup>
				</div>
				<!--
		            	时间：2018-04-13
		            	描述：底部删除按钮
		            -->
					<button @tap="toDel()" v-show="!isToDel" type="button" class="bottom_del_div mui-btn mui-btn-block">删除({{checkedArr.length}})</button>
			</div>
			<!--
            	时间：2018-04-13
            	描述：查询结果
            -->
			<transition name="fade">
				<div v-show="filter_resultShow" class="filter_result mui-fullscreen mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
							<li class="mui-table-view-cell">
								<div class="mui-table">
									<div class="mui-table-cell mui-col-xs-8">
										<h4 class="mui-ellipsis">王琦</h4>
										<p class="mui-h6 mui-ellipsis"><span class="i_flag">主号</span>13510792830<span class="mui-icon mui-icon-info mui-pull-right"></span></p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</transition>
			<!--
            	时间：2018-04-13
            	描述   虚拟键盘
            -->
			<div id="keyborde_div" class="mui-popover mui-popover-action mui-popover-bottom">
				<form class="mui-input-group">
					<div class="mui-input-row">
						<label class="f"></label>
						<label @tap="input_key('del')"><span class="mui-icon mui-icon-closeempty"></span></label>
						<input type="text" placeholder="请输入号码搜索" maxlength="15" readonly="readonly" v-model="inputKey">
					</div>
				</form>
				<ul id="keyborde" class="mui-table-view mui-grid-view mui-grid-9">
					<li @tap="input_key('1')" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<span>1</span>
						<div class="mui-media-body">-</div>
					</li>
					<li @tap="input_key('2ABC')" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<span>2</span>
						<div class="mui-media-body">ABC</div>
					</li>
					<li @tap="input_key('3DEF')" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<span>3</span>
						<div class="mui-media-body">DEF</div>
					</li>
					<li @tap="input_key('4GHI')" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<span>4</span>
						<div class="mui-media-body">GHI</div>
					</li>
					<li @tap="input_key('5JKL')" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<span>5</span>
						<div class="mui-media-body">JKL</div>
					</li>
					<li @tap="input_key('6MNO')" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<span>6</span>
						<div class="mui-media-body">MNO</div>
					</li>
					<li @tap="input_key('7PQRS')" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<span>7</span>
						<div class="mui-media-body">PQRS</div>
					</li>
					<li @tap="input_key('8TUV')" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<span>8</span>
						<div class="mui-media-body">TUV</div>
					</li>
					<li @tap="input_key('9WXYZ')" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<span>9</span>
						<div class="mui-media-body">WXYZ</div>
					</li>
					<li @tap="input_key('*,')" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<span>*</span>
						<div class="mui-media-body">,</div>
					</li>
					<li @tap="input_key('0+')" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<span>0</span>
						<div class="mui-media-body">+</div>
					</li>
					<li @tap="input_key('#.')" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<span>#</span>
						<div class="mui-media-body">.</div>
					</li>
					<div v-show="bottom_handle">
						<li @tap="input_key('close')" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
							<span class="mui-icon mui-icon-closeempty"></span>
							<div class="mui-media-body">收起</div>
						</li>
						<li @tap="input_key('tel')" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="padding-top: 11px;">
							<span class="mui-icon mui-icon-phone-filled" style="font-size: 35px;"></span>
						</li>
						<li @tap="input_key('change')" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
							<span class="mui-icon mui-icon-loop"></span>
							<div class="mui-media-body">切换</div>
						</li>
					</div>
				</ul>
			</div>

			<!--
            	时间：2018-04-13
            	描述：切换组件
            -->
			<div id="middlePopover" class="mui-popover">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell">Item1</li>
							<li class="mui-table-view-cell">Item2</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/vue-html5plus.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/mint-ui.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript">
		var app = null;
		(function(_, w, u) {
			var self = null,currentWeb = null;
			app = new App({
				el: '#app',
				data: {
					title: '全部通话',
					chooseText: '全选',
					list: [],
					inputKey: '',
					popupVisible: false,
					filter_resultShow: false,
					bottom_handle: true,
					allLoaded: false,
					isToDel: true, //是否显示取消
					delNumber:0,//删除数量
					checkedArr:[]
				},
				plusReady: {
					init: function() {
						currentWeb = plus.webview.currentWebview();
						console.log("plusReady init1===" + this.bottom_handle);
						self = this;
						console.log("plusReady init2===" + self.bottom_handle);
					}
				},
				methods: {
					toggleDel: function() { //控制删除
						self.isToDel = false;
					},
					chooseAll: function() {
						//TODO 赋值全部数据给self.checkedArr
					},
					toTelDetail: function(phone) {
						if(self.isToDel) {
							w.openView("contactDetail.html")
						}
					},
					input_key: function(key) {
						if(self.inputKey.length >= 0) {
							self.filter_resultShow = true;
							self.bottom_handle = true;
						} else {
							self.filter_resultShow = false;
							self.bottom_handle = false;
						}
						if('close' == key) {
							self.bottom_handle = false;
							_('#keyborde_div').popover('hide');
						} else if('change' == key) {
							_("#keyborde_div").popover('show');
							_('#middlePopover').popover('toggle');
						} else if('del' == key) {
							self.inputKey = self.inputKey.substr(0, self.inputKey.length - 1);
							if(self.inputKey.length == 0) {
								self.filter_resultShow = false;
								self.bottom_handle = false;
							}
						} else if('tel' == key) {
							plus.device.dial(self.inputKey, false);
						} else {
							self.inputKey += key && key.substr(0, 1);
						}
						console.log("key=====" + key);
					},
					filterList: function(type, title) {
						console.log("type====" + type);
						self.title = title;
						self.popupVisible = false;
						self.toggleTabbar();
						if(0 == type) { //全部

						} else { //副号

						}
					},
					toggleTopP: function() {
						self.popupVisible = !self.popupVisible;
						self.toggleTabbar();
					},
					cancelDel: function() {
						self.isToDel = true;
					},
					toDel:function(){
						console.log("value===" + self.checkedArr)
					},
					toggleTabbar:function(){
						var viewStyle = currentWeb.getStyle();//动态隐藏tabbar
						if(viewStyle.bottom=='0'){
			                currentWeb.setStyle({bottom:'51px'});
			            }else{
			                currentWeb.setStyle({bottom:'0'});
			            }
					}
				},
				domReady: function() {
					_.init(), _(".mui-scroll-wrapper").scroll();
				}
			})
		})(mui, window, util)

		//改变键盘的显示
		function toggleShow() {
			mui('#keyborde_div').popover('toggle');
		}

		function toggleHidden() {
			mui('#keyborde_div').popover('hide');
		}
	</script>

</html>