<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>全部信息</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/mint-ui-style.css" />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/iconfont.css" />
		<style>
			.mui-input-group .mui-input-row {
				line-height: 38px;
			}
			
			.mui-table-view-cell {
				padding: 8px 10px;
			}
			
			.mui-bar-nav.mui-bar .mui-icon {
				margin-top: 0;
			}
			
			.mui-bar .mui-icon {
				font-size: 12px;
			}
			
			h4 {
				font-weight: 100;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<button @tap="toggleTopP()" class="mui-btn-link mui-icon iconfont icon-dianjihoudesanheng mui-pull-left"></button>
				<h1 class="mui-title">{{title}}</h1>
				<button class="mui-icon mui-btn-link iconfont icon-duanxinxinjianlianxirenjiahao mui-pull-right" @tap="toAdd"></button>
			</header>
			<div class="mui-content mui-scroll-wrapper mui-fullscreen">
				<div class="mui-scroll">
					<form class="mui-input-group" @submit.prevent="search">
						<mt-search v-model="searchValue" cancel-text="取消" placeholder="搜索"></mt-search>
					</form>
					<ul v-if="smsList.length >  0" class="mui-table-view mui-table-view-striped mui-table-view-condensed">
						<li class="mui-table-view-cell" @tap="toMsgList()" v-for="item in smsList">
							<!--<div class="mui-slider-right mui-disabled">
								<a class="mui-btn mui-btn-red">删除</a>
							</div>-->
							<div class="mui-slider-handle">
								<div class="mui-table">
									<div class="mui-table-cell mui-col-xs-9">
										<h4>{{item.c_number}}<span class="i_flag">{{item.remark}}</span></h4>
										<p class="mui-h6 mui-ellipsis">{{item.remark}}</p>
									</div>
									<div class="mui-table-cell mui-col-xs-3 mui-text-right">
										<div class="mui-h5">{{item.create_time}}</div>
										<!--<div class="mui-badge mui-badge-danger">11</div>-->
									</div>
								</div>
							</div>
						</li>
					</ul>
					<mt-popup 
						v-model="popupVisible"
						position="top"
						:closeOnClickModal=false>
						<div v-on:click.stop="filterList(0,'全部信息')">
							<mt-cell title="全部信息"></mt-cell>
						</div>
						<div v-on:click.stop="filterList(1,'副号信息')">
							<mt-cell title="副号信息"></mt-cell>
						</div>
					</mt-popup>
				</div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/mint-ui.min.js"></script>
	<script type="text/javascript" src="js/vue-html5plus.js"></script>
	<script type="text/javascript" src="js/md5.js"></script>
	<script type="text/javascript" src="js/des/crypto-js.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript">
		(function(_, w, u) {
			var currentWeb = null,
				bottom = 0;
				var all = [];//缓存所有的信息
			var vm = new App({
				el: '#app',
				data: {
					smsList:[],
					searchValue: '',
					popupVisible: true,
					title: "全部信息"
				},
				plusReady: {
					init: function() {
						currentWeb = plus.webview.currentWebview();
						self = this;
						self.getSmsLog();
					}
				},
				methods: {
					getSmsLog: function() {
						var nonce_str = u.mathRand();
						console.log("nonce_str====" + nonce_str);
						var timestamp = Date.parse(new Date()).toString().substr(0, 8);
						var identifier = w.getItem("identifier"); //设备标识号
						var user_token = w.getItem("user_token");
						var pdata = {
							app: "Member",
							class: "getSmsLog",
							nonce_str: nonce_str,
							timestamp: timestamp,
							identifier: identifier,
							client: "web",
							user_token: user_token
						}
						var stringSignTemp = "app=Member&class=getSmsLog&client=web&identifier=" + identifier + "&nonce_str=" + nonce_str + "&timestamp=" + timestamp + "&user_token=" + user_token + "&";
						u.mypost(pdata, stringSignTemp, true, function(data) {
							if(data.status == 0) {
								if(data.data && data.data.length == 0){
									_.toast('暂无数据')
								}else{
									self.smsList = comConvert(data.data || []);
									all = comConvert(data.data || []);
								}
							} else {
								_.toast(data.msg || '请求异常');
							}
						}, myerror);
					},
					getSmsLogByNumber: function(number) {
						var nonce_str = u.mathRand();
						var timestamp = Date.parse(new Date()).toString().substr(0, 8);
						var identifier = w.getItem("identifier"); //设备标识号
						var user_token = w.getItem("user_token");
						var pdata = {
							app: "Member",
							class: "getSmsLog",
							nonce_str: nonce_str,
							timestamp: timestamp,
							identifier: identifier,
							client: "web",
							user_token: user_token,
							number:number
						}
						var stringSignTemp = "app=Member&class=getSmsLog&client=web&identifier=" + identifier + "&nonce_str=" + nonce_str + "&number="+number+"&timestamp=" + timestamp + "&user_token=" + user_token + "&";
						u.mypost(pdata, stringSignTemp, true, function(data) {
							if(data.status == 0) {
								if(data.data && data.data.length == 0){
									_.toast('暂无数据');
									self.smsList = [];
								}else{
									self.smsList = comConvert(data.data || []);
								}
							} else {
								_.toast(data.msg || '请求异常');
							}
						}, myerror);
					},
					toMsgList: function() {
//						w.openView("msgList.html")
					},
					toAdd: function() {
						document.activeElement.blur();
						w.openView('sendMsg.html');
					},
					search: function() {
						console.log("value=======" + self.searchValue);
						self.getSmsLogByNumber(self.searchValue);
					},
					filterList: function(type, title) {
						console.log("type====" + type);
						self.title = title;
						self.popupVisible = false;
						if(0 == type) { //全部
							self.smsList = all;
						} else { //副号
							var virtual_number = w.getItem("virtual_number");
							if(u.isNull(virtual_number)) {
								_.toast("请重新登录");
							} else {
								self.getSmsLogByNumber(virtual_number);
							}
						}
					},
					toggleTopP: function() {
						self.popupVisible = !self.popupVisible;
						console.log("popupVisible===" + self.popupVisible);
					},
					toggleTabbar: function() {
						var viewStyle = currentWeb.getStyle(); //toggle隐藏tabbar
						console.log("viewStyle.bottom==" + viewStyle.bottom);
						if(viewStyle.bottom == 0) {
							currentWeb.setStyle({
								bottom: bottom
							});
						} else {
							currentWeb.setStyle({
								bottom: 0
							});
						}
					}
				},
				domReady: function() {
					_.init(), _(".mui-scroll-wrapper").scroll();
					//获取屏幕宽度
					var width = document.documentElement.clientWidth;
					//3.75
					if(width >= 320 && width < 360) {
						bottom = "54px";
					} else if(width >= 360 && width < 400) {
						bottom = "61px";
					} else if(width >= 400 && width < 440) {
						bottom = "69px";
					} else if(width >= 440 && width < 480) {
						bottom = (20 * 3.75) + 1 + 'px';
					} else if(width >= 480 && width < 640) {
						bottom = (22 * 3.75) + 1 + 'px';
					} else if(width >= 640) {
						bottom = (28 * 3.75) + 1 + 'px';
					}
				}
			})
			_('#app').on('tap', '.mui-btn', function(event) { //删除短信
				var elem = this;
				var li = elem.parentNode.parentNode;
				_.confirm('确认删除该条记录？', '提示', btnArray, function(e) {
					if(e.index == 0) {
						li.parentNode.removeChild(li);
					} else {
						setTimeout(function() {
							_.swipeoutClose(li);
						}, 0);
					}
				});
			});
			var btnArray = ['确认', '取消'];
			
			
			//转换
			function comConvert(items) {
				var newItems = [];
				items.forEach(function(item, index) {
					newItems.push({
						c_number: item.type == 1?item.called_number:item.calling_number,
						virtual_number: item.virtual_number,
						type: item.type,
						typeName:item.type == 1?'收入':'发出',
						create_time:item.create_time.substr(0,10),
						remark:item.remark,
						content:item.content
					});
				});
				return newItems.reverse();
			}
		})(mui, window, util)
		
		function getData(){
			window.location.reload();
		}
	</script>

</html>