<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>发送短信</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/iconfont.css" />
		<link rel="stylesheet" href="css/style/msg.css" />
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon iconfont icon-jiantou mui-pull-left"></a>
				<h1 class="mui-title">新短信</h1>
				<button @tap="cancel()" class="mui-btn-link mui-pull-right">取消</button>
			</header>
			<div class="mui-content">
				<form class="mui-input-group">
					<div class="mui-input-row">
						<label class="font_15">收件人:</label>
						<input type="text" v-model="names">
						<label class="f" @tap="addContact()"><span class="mui-icon iconfont icon-duanxintianjialianxiren"></span></label>
					</div>
				</form>
				<footer>
					<div @tap="change()" class="footer-left">
						<i class="mui-icon iconfont icon-xunhuan"></i>
						<span v-bind:class="[isMain ? i_flag : i_flag_2,'flag']">{{cardType}}</span>
					</div>
					<div class="footer-center">
						<textarea type="text" class='input-text' placeholder="输入内容" v-model="msgBody"></textarea>
					</div>
					<button class="footer-right" @tap="sendMsg()">
						<i class="mui-icon iconfont icon-duanxinfasongjiantou"></i>
					</button>
				</footer>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/vue-html5plus.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript">
		var app = null;
		(function(_, w, u) {
			var self = null;
		app = new App({
				el: '#app',
				data: {
					msgBody: '11',
					cardType:'主号',
					i_flag: 'i_flag',
  				    i_flag_2: 'i_flag_2',
					isMain:true,//是否是主号
					names:""
				},
				plusReady: {
					init: function() {
						plus.webview.currentWebview().setStyle({
							softinputMode: "adjustResize"
						});
						self = this;
					}
				},
				methods: {
					sendMsg: function() {
						var msg = plus.messaging.createMessage(plus.messaging.TYPE_SMS);
						msg.to = ['13510792830'];
						msg.body = self.msgBody;
						msg.silent = true; // 设置为使用静默方式发送
						plus.messaging.sendMessage(msg);
					},
					cancel: function() {
						plus.nativeUI.confirm('是否放弃本次编辑？', function(e) {
							console.log(e.index);
							if(e.index == 1) {
								//TODO 取消
								_.back();
							}
						}, {
							"title": "提示",
							"buttons": ["否", "是"]
						})
					},
					change:function(){
						if(self.cardType == "主号"){
							self.cardType = "副号";
							self.isMain = false;
						}else{
							self.cardType = "主号";
							self.isMain = true;
						}
					},
					addContact:function(){
						w.openView("c_contact_mint.html");
					}
				},
				domReady: function() {
					_.init();
				}
			})
		})(mui, window, util)
		
		function addName(){
			var name = window.getItem("displayName");
			var names = app.names || '';
			app.names = names + name;
			console.log("111"+app.names);
		}
	</script>

</html>